{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
    <div class="alert"></div>
    <div class="modal">
    </div>
    <div class="navigate">
        <div class="navigate__username"></div>
        <div class="navigate__login">
            <img src="{% static 'icons/user-svgrepo-com.svg' %}" alt="auth">
        </div>
    </div>
    <div class="content">
        <div class="container">
            <table>
                <tr>
                    <th>ФИО</th>
                    <th>Email</th>
                    <th>Должность</th>
                    <th>Уволен</th>
                    <th>Дата увольнения</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>